@model Blog
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Blog</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
        <div class="mb-5">
            <label asp-for="Category"></label>
            @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.categoryList), "Select a category", htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-primary">Back To Blogs</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
