@model Blog
@{
    ViewData["Title"] = "Blog";
}

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@Model.Title</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Title: @Model.Title</label>
        </div>
        <div class="mb-3">
            <label>Description: @Model.Description</label>

        </div>
        <div class="mb-5">
            <label>Category: @Model.Category</label>

        </div>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-primary">Back To Blogs</a>
    </div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
